.aqui {
  position: relative;
  color: red;
  pointer-events: painted;
}

.oculto {
  position: absolute;
  bottom: 80%;
  left: 0;
  background: rgb(74, 73, 73);
  color: rgb(25, 0, 255);
  border-color: aqua;
  border-radius: 4px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  padding: 2px;
}

.aqui:hover .oculto {
  opacity: 1;
}
