.aqui {
  color: red;
}

.oculto {
  position: absolute;
  bottom: 120%;
  background: black;
  color: white;
  border-radius: 4px;
  pointer-events: none;
}

.oculto {
  opacity: 0;
}

.aqui:hover::before .oculto {
  opacity: 1;
}
