.box {
  width: 200px;
  height: 200px;
  background-color: crimson;
  color: black;
  display: grid;
  place-items: center; /* Centra tanto vertical como horizontalmente */
}

.name_color {
  color: papayawhip;
}

.name_rgb {
  color: rgb(118, 43, 3);
}

.name_rgba {
  color: rgba(0, 255, 204, 0.432);
}

.name_hexadecimal {
  color: he;
}
