.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  height: 100svh;
  margin: 0;
 /*  grid-template-areas: Esto se utiliza para colocar directamente todo en su lugar, y deberemos poner un grid-area: nombre paraidenticarlo
    "header header header"
    "aside main main"
    "aside main main"
    "footer footer footer"; */
}

.container > * {
  border: 3px solid black;
}

/* ELEMENTOS HIJOS O GRID ITEMS */
header {
  /* grid-area: header; */
  background-color: rgb(255, 140, 140);
  grid-area: 1 / 1 / 2 / 4; /* Metodo abreviado "extremo" para poner los comienzos y fin de grid-row y grid-column */
         /* grs gcs gre  gce */
}

aside {
  background-color: rgb(228, 255, 140);
  /* grid-row-start: 2;
grid-row-end: 4; */
  grid-row: 2 / 4; /* Abreviatura de grid-row star y end */

  /* grid-column-start: 2;
grid-column-end: 4; */
  grid-column: 1 / 2; /* Abreviatura de grid-column star y end */
}

main {
  background-color: rgb(140, 213, 255);
  /* grid-row-start: 2;
grid-row-end: 4; */
  grid-row: 2 / 4;
  /* grid-column-start: 2;
grid-column-end: 4; */
  grid-column: 2 / 4;
}

footer {
  background-color: rgb(255, 140, 232);
  /* grid-row-start: 4;
grid-row-end: 5; */
  grid-row: 4 / 5;
  /* grid-column-start: 1;
grid-column-end: 5; */
  grid-column: 1 / 5;
}
