.contenedor {
  background-color: blanchedalmond;
  height: 200px;
  display: flex; /* Para que esten en horitzontal */
  justify-content: space-evenly; /* Para separar cada caja con la misma separacion y centrada en linea */
  align-items: center; /* Alineacion items centrada verticalmente */
  flex-wrap: wrap; /* Para cuano no quepan en una linea, pase a la linea de abajo */
}

.item {
    background-color: rgb(7, 0, 212);
    width: 100px;
    height: 100px;
    border: white 2px solid;
    font-size: 40px;
    color: white ;
   /*  display: flex;
    justify-content: center;
    align-items: center;*/

} 
 
.item1 {
align-self: start; /* Se alinea al comienzo del eje secundario (vertical)  */
flex-grow: 1; /* Se agranda x1 en funcion del "redimensionado" de pantalla */
}

.item2 {
    flex-grow: 2; /* Se agranda x2 en funcion del "redimensionado" de pantalla */
}

.item3 {
    flex-grow: 0;
}